/target/
/nb-configuration.xml
/nbactions.xml
/.nb-gradle-properties
/.project
/.classpath
/.settings/
/*/target/
/*/nb-configuration.xml
/*/nbactions.xml
/*/.nb-gradle-properties
/*/.project
/*/.classpath
/*/.settings/
/*/.springBeans
.gradle
*/build
build
*/bin
*/test-bin
*/int-test-bin
*.xml.ignore
/*/*.log
/.nb-gradle/
/rest-apis/
*pom.xml
/bin/
.idea
*.iml
*/out
*out
